<app-navbar></app-navbar>
<div class="about-main fixed top-22 w-screen h-screen">
    <div class="container-xl p-5 block mt-5">
        <h1 class="text-4xl flex justify-center text-white"><b>About MarketMock</b></h1>
        <div style="text-align: center" class="flex justify-center ">
            <div class="container px-5 mx-5 ">
                <p class="mt-4 text-2xl bg-slate-50 rounded-lg p-4 text-slate-600">MarketMock is an educational tool meant to help aspiring investors get aquainted with the stock market.
                    MarketMock provides a simulated environment that replicates real-world trading conditions using real stock market data,
                    allowing users to experiment with different investment strategies, analyze market trends,
                    and learn from their successes and failures without the risk of losing real money.
                    By using MarketMock, aspiring investors can gain the knowledge and confidence they need to navigate the
                    stock market successfully.</p>
            </div>
        </div>   
    </div>

    <div class="container-xl p-5 block justify-center">
        <h1 class="text-4xl text-white flex justify-center mb-2"><b>Meet the Team</b></h1>
        <div style="text-align: center" class="flex justify-center ">
            <div class="container mx-5 flex justify-center">
                <div class="bg-blue-700 m-3 rounded-xl block">
                    <a href="https://github.com/ChanceBowlinger">
                        <img src="../../../assets/chancepointfive.png">
                    </a>
                    
                    <p class="text-xl text-white p-1">Chance Bowlinger</p>
                </div>
                <div class="bg-blue-700 m-3 rounded-xl block">
                    <a href="https://github.com/defoeam">
                        <img src="../../../assets/anthony.jpg">
                    </a>
                    
                    <p class="text-xl text-white pt-1 mb-2">Anthony DeFoe</p>
                </div>
                <div class="bg-blue-700 m-3 rounded-xl block">
                    <a href="https://github.com/quinnjo554">
                        <img src="../../../assets/QuinnJohnson.png">
                    </a>
                    
                    <p class="text-xl text-white pt-2">Quinn Johnson</p>
                </div> 
            </div>
        </div> 
    </div>
</div>