.button{
    --tw-bg-opacity: 1;
    background-color: rgb(29 78 216 / var(--tw-bg-opacity));

    padding: 9px;
    border-radius: 6px;
    color: whitesmoke;
}

.button:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(30 58 138 / var(--tw-bg-opacity));
}
