
<div class="navbar bg-gray-100 w-screen h-20 rounded-md shadow-2xl z-10 shadow-black">
    <div class="content w-screen h-20">
    
        <a routerLink="/"><ul class="flex justify-start mr-[6%] relative">
           <li><img class="balls z-60 relative left-1 top-0 w-20 h-50" src="../../../assets/logo.jpg" alt="ball" ></li>
            <li><h1 class="flex relative top-[30%] ml-5 text-xl font-semibold">Mock Stock</h1></li>
        </ul></a>
        
        <ul class="flex justify-end mr-[6%] relative top-[-75%]">
            <a routerLink="/stock-landing" routerLinkActive="active" ariaCurrentWhenActive="page"><li class="button mr-10">About</li></a>
            <!--CHANGE CALLBACK URI BEFORE LAUNCH!!!!!!-->
            <li><app-auth text="Log In" class="button relative top-1/4"></app-auth></li>
            <!--FIX KEY PROBLEM !!!!!!-->
        </ul>

    </div>
</div>
