body{
    width: 100vw;
    height: 100vh;
    background-image:url("../../../assets/3d-abstract-wave-pattern-background.jpg");
    background-size: cover;
}
.app-stock-graph {
    position: absolute;
    left: 20%;
    top: 60%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  max-height: 100%;
  }
  
@media (max-width: 1280px)  {
    .chatBot{
        visibility: hidden;
    }
    
}
