<app-navbar [userId]="this.currentUserId"></app-navbar>

<body class="overflow-hidden">
  <div class="grid-container">
    <ng-container *ngIf="stockData">
      <div class="chart-container">
        <app-stock-graph class="" [dataSets]="stockData" [aiText]="aiText"></app-stock-graph>
      </div>
      <div class="chart-info">
        <p class="current-price relative text-white left-9 text-lg bottom-[-1.3em]">Current Share Price: ${{currentStockPrice}}</p>
      </div>
    </ng-container>

    
    <div class="search-container search-content fixed left-[45%] z-10">
      <h1 class="text-white text-xl mb-3 absolute left-[-60%]">Search for Stock By Ticker</h1>
      <div class="flex">
        <input class="w-[15em] h-8 rounded-md indent-1 mr-2" [(ngModel)]="searchText" type="text" name="search"
          id="searchIn">
        <button
          class="text-white bg-sky-600 pl-3 pr-3 rounded-xl shadow-md shadow-black hover:shadow-none hover:bg-sky-900 mr-2"
          (click)="onSubmit()">Graph</button>
        <button
          class="text-white bg-sky-600 pl-3 pr-3 rounded-xl shadow-md shadow-black hover:shadow-none hover:bg-sky-900"
          (click)="addToPortfolio()">Add To</button>
      </div>
      <div class="buy-sell-container mt-3">
        <div *ngIf="isBuyPressed" class="fixed left-[39.5%] text-white">
          <h1 class="text-xl">{{buySuccess}}</h1>
        </div>
      </div>
    </div>
  </div>
</body>