<app-navbar></app-navbar>
<body class="overflow-hidden">
  <div class="z-10 w-screen left-0 top-18">
      <div class="container">
        <br>
        <table class="table mainT" style="float:left">
            <thead>
              <tr>
                <th scope="col">Stock</th>
                <th scope="col">Shares</th>
                <th scope="col">Current price per share</th>
                <th scope="col">Your value of stock</th>
                <th scope="col">Buy/Sell</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stock of userStocks; index as i" class="talbe-light">
                <th scope="row">{{stock.stock}}</th>
                <td>{{stock.shares}}</td>
                <td>{{this.prices[i]}}</td>
                <td>${{this.values[i]}}</td>
                <td><button type="button" class="btn btn-primary" (click)="showTransactionMenu(); selectedStockId = stock.stock">Buy/Sell {{stock.stock}}</button></td>
                
              </tr>
            </tbody>
          </table>

          <br>
          <h5 style="color:white">Your portfolio's total value is:</h5>
          <h3 style="color: white">${{this.portfolioValueString}}</h3>
          <h5 style="color:white">You Have Spent a Total of:</h5>
          <h3 style="color: white">${{this.userMoneySpent}}</h3>
          <br>

          <div *ngIf="transactionMenu">
            <button type="button" class="btn btn-success" (click)="showBuy()">Buy</button>
            <button type="button" class="btn btn-danger" (click)="showSell()">Sell</button>
           <button type="button" class="btn btn-danger" (click)="deleteStock(this.selectedStockId)">Delete {{selectedStockId}}</button>
           
            <button type="button" class="btn btn-outline-light" (click)="hideTransactionMenu()">Hide menu</button><br>

            <h1 *ngIf="SellButton" class="mr-2  text-lg text-white">Sell</h1>
            <h1 *ngIf="BuyButton" class="mr-2  text-lg text-white">Buy</h1>
            <input class="h-8" type="text" [(ngModel)]="amount" name="sell" id="sell">
            <button type="button" class="btn btn-primary" (click)="updateStocksBuy()">Submit</button>
          </div>
          
    </div>
    
  </div>
</body>