<div class="hero fixed top-22 w-screen h-screen">
    <app-navbar></app-navbar>    
    <div class="card" id="Projects">
        <div class="card-content">
            <h1 class="title">Stock Mock</h1>
            <p class="card-body">Check out the code for this project we work really hard on 
            </p>
            <a class="button" href="" target="_self">Go to</a>
        </div>
    <!--make this way bigger and more to the left. to much empty space-->
   </div>

   <div class="tagline w-max h-max -z-10 relative left-[10%] bottom-[1%] text-gray-200 ml-10 lg:visible hidden sm:block">
    <div class="greeting -z-10 w-[90%]">
    <div id='mainContent' class='invisible text-lg text-white md:visible max-lg:visible justify-center pl-32 align-middle w-[800px]'>

        <h1 class='pb-6 font-sans font-bold text-5xl'>Stock Mock Where No Risk Awaits</h1>
        <p class='text-xl pb-9'>Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Enim velit doloremque alias architecto nemo labore 
        praesentium dolorem dicta reprehenderit?</p>
      </div>
      <a><button class='ml-32 z-10 shadow-white shadow-sm bg-blue-600 p-3 rounded-md hover:shadow-transparent'>sign up for free</button></a>
    </div>
</div>

<div class='sm:hidden w-38 mt-[-18rem]' id='mobile-hero'>
    <div class=' bg-contain object-contain w-10'>
    <div class="w-max pl-24">
    <div class=' justify-center align-middle w-98 fixed top-1/4 left-[13%]'>
      <h1 class='pb-5 text-4xl font-sans font-bold text-white'>The Best Way To Manage Stocks</h1>
      <p class=' pb-5 text-lg text-white'>Lorem ipsum dolor sit amet consectetur 
      adipisicing elit. Enim velit doloremque alias architecto nemo labore 
      praesentium dolorem dicta reprehenderit?</p>
      <a><button class='text-white shadow-black shadow-lg bg-blue-600 p-3 rounded-md hover:shadow-transparent'>Star here</button></a>
    </div>
  </div>
    </div>
  </div>
   </div>
