
<div class="hero fixed top-22 w-screen h-screen">
    <app-navbar></app-navbar>    
    <div class="card" id="Projects">
        <div class="card-content">
            <h1 class="title">How It Works</h1>
            <p class="card-body">Check out some of the projects ive been working on! 
            </p>
            <a class="button" href="" target="_self">Go to</a>
        </div>
    <!--make this way bigger and more to the left. to much empty space-->
   </div>

   <div>
        <h1>Stock Mock Is Cool</h1>
   </div>
        
</div>
